{{> title}}
{{> landingLink}}
{{!-- <p>Welcome to our magic Gif Ball. Ask any question you like and receive the guidance your soul desires</p> --}}
<form class="form" method="post">
    <label for="question" class="form-item">
        What is your your question?:
        <input type="text" name="question">
<<<<<<< HEAD
        <input type="submit" name="" value="Submit">
        <audio src="Magic 8 ball..mp3" autoplay="autoplay" loop="loop"></audio>

||||||| 2519acc
        <input type="submit" name="" value="Submit">
=======
        <input type="submit" name="" value="Submit" class="button">
>>>>>>> e3cfafc1078aa59d6db4aea8682bb3186420c8d9
    </label>
</form>
<div class="app-container">
    <div class="app_inner">
        <img src="/Images/Triangle.png" alt="" class="inner-image">
    </div>
</div>
{{> footer}}
