<div class = "title"> 
    <h1>Welcome to <strong>The Magic Gif Ball!</strong></h1>
</div>

<form class="form" method="post">
    <label for="question" class="form-item">
        What is your your question?:
        <input type="text" name="question">
    </label>
</form>
<div class="app-container">
    <div class="app_inner">
        <img src="/Images/Triangle.png" alt="" class="inner-image">
    </div>
</div>