<div class = 'title'> 
    <h1>Welcome to <strong>The Magic Gif Ball!</strong></h1>
</div>
<div class="input-field">
    <p>Ask your question here ----</p>
</div>
<div class="app-container">
    <div class="app_inner">
        <div class="app_inner_image">
        </div>
    </div>
</div>