<div class = "title"> 
    <h1>Welcome to <strong>The Magic Gif Ball!</strong></h1>
</div>
<form class="form" method="post">
    <label for="name" class="form-item">
        What is your name?:
        <input type="text" name="name">
        <input type="submit" name="" value="Submit" class="button">
    </label>
</form>
<div class="home-image">
    <img src="/Images/crab.png" alt="" class="crab-1">
    <img src="/Images/crab.png" alt="" class="crab-2">
</div>
{{> footer}}