body {
  font-size: 18px;
  /* background-color: #350B40; */
  background-image: radial-gradient(rgb(47, 0, 255) 5%, green 15%, rgb(19, 19, 119) 60%);
  background-color: rgb(19, 19, 199);
  background-repeat: no-repeat;
  background-size: auto;
  color: #350B40;
  display: flex;
  justify-content: center;
  text-align: center;
}

.base {
  font-weight: bold;
  font-family: 'Spirax', cursive;
  align-items: center;
  height: 920px;
}

.title {
  background-color: #719FB0;
}

.input-field {
  background-color: #719FB0;
}

.app-container {
  background-color: #719FB0;
  height: 500px;
  width: 500px;
  /* border: 0.5px solid #719FB0; */
  border-radius: 100%;
   background: radial-gradient(circle at 50% 120%, #719FB0, #012633 80%, #000000 100%);
  
}

.app-container:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  top: 40%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  filter: blur(5px);
  z-index: -1;
}
.app-container:after {
  content: "";
  width: 70%;
  height: 30%;
  position: absolute;
  top: 40%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(
-20deg
);
  filter: blur(50px);
}

.app_inner {
  background-color: #719FB0;
  height: 30%;
  width: 30%;
  border-radius: 100%;
  position: relative;

}

.app_inner_image {
  background-color: #719FB0;
}



/*   */